.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  justify-content: center;
  max-width: 1240px;
  margin: 40px auto 0;
  padding: 55px;
  background-color: #f6f6f6;
  border-radius: 25px;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .cards-grid {
    background: transparent;
    gap: 20px;
    padding: 0;
    margin-top: 30px;
    max-width: 100%;
    overflow-x: hidden;
  }

  .cards-grid > .card {
    width: 335px;
    height: 255px;
    max-width: 100%;
  }
}
