/* Home.scss */
.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 55px; /* même espace horizontal & vertical */
  justify-content: center; /* centre l’ensemble */
  max-width: 1240px;
  height: 829px;
  margin-top: 40px;
  padding: 55px;
  background-color: #f6f6f6;
  border-radius: 25px;
}

/* Mobile: 1 colonne, 3 cartes visibles */
@media (max-width: 768px) {
  .cards-grid {
    background: transparent;
    gap: 20px;
    padding: 0;
    margin-top: 30px;
  }
  .cards-grid > .card {
    width: 335px;
    height: 255px;
  }

  /* ⬇️ cache la 4e et suivantes */
  .cards-grid > .card:nth-child(n + 4) {
    display: none;
  }
}
