@import "../../styles/variables.scss";

.collapse {
  background: #f6f6f6;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;

  /* HEADER */
  .collapse__header {
    background: $primary-color;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 10px;

    h3 {
      font-size: 18px;
      margin: 0;
    }

    .collapse__arrow {
      transition: transform 0.3s ease;
    }
    .collapse__arrow.open {
      transform: rotate(180deg);
    }
  }

  /* CONTENU ANIMÉ */
  .collapse__content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  /* ✅ Hauteur fixe d'ouverture */
  .collapse__content.open {
    height: 200px; /* ← Ta hauteur définie */
    overflow-y: auto; /* ← Scroll si le contenu dépasse */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /* CONTENU INTERNE */
  .collapse__inner {
    padding: 16px;
    color: $text-color;
  }

  /* ✅ suppression des puces */
  .collapse__inner ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .collapse__inner li {
    margin-bottom: 6px;
  }
}
