@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  width: 1240px;
  height: 68px;
  margin: 20px auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__logo {
    height: 40px;
  }

  &__nav {
    width: 309px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;

    a {
      text-decoration: none;
      color: $text-color;
      font-size: 24px;
      text-transform: none;

      &.active {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    width: 335px;
    margin: 0 auto;

    &__logo {
      height: 17px;
      width: 190px;
    }

    &__nav {
      height: 30px;
      padding-left: 40px;
      justify-content: space-between;
      align-items: center;
    }

    &__nav a {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }
}
