@import "../../styles/variables.scss";

.notfound {
  text-align: center;
  padding: 100px 10px;
  color: $primary-color;
  font-family: Montserrat;
}

.notfound__code {
  font-size: 96px;
  font-weight: 700;
  margin-bottom: 60px;
}

.notfound__text {
  font-size: 18px;
  color: $primary-color;
  margin-bottom: 100px;
}

.notfound__link {
  color: $text-color;
  font-size: 14px;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .notfound__code {
    font-size: 200px;
  }

  .notfound__text {
    font-size: 24px;
  }

  .notfound__link {
    font-size: 18px;
  }
}
